.layout {
  display: flex;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 1000; /* Ensure sidebar is on top of other content */
  background-color: #1e1e1e;
}

.content {
  margin-left: 250px; /* Same value as the sidebar width */
  background-color: #1e1e1e; /* Example background color */
  padding: 20px; /* Add some padding if necessary */
  flex-grow: 1;
}
